<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hyosik.android.presentation">

    <application>
        <meta-data android:name="io.sentry.dsn" android:value="https://d60ab2cc26a74d46a045d3abce1814e7@o1397489.ingest.sentry.io/6722867" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailActivity"
                android:exported="true"
            />
    </application>

</manifest>